

@font-face {
  font-family: 'gyparody';
  src: local('gyparody'), url(../fonts/jeopardy/gyparody.ttf);
}

@font-face {
  font-family: 'ITCKorinnaBold';
  src: local('ITCKorinnaBold'), url(../fonts/ITCKorinnaBold/ITCKorinnaBold.ttf);
}

h1 {
  font-family: gyparody;
}

button {
  font-family: ITCKorinnaBold;
}

a {
    transition: all 0.3s ease-out 0s;
    outline: none !important;
}

img {
    max-width: 100%;
}